{% extends 'admin1/master.html' %}
{% load static %}


{% block content1 %}

<div class="main">
    <h2>Order details</h2>
    <table>
        <tr>
            <th>Customer Id</th>
            <th>Mobile Number</th>
            <th>Address</th>
            <th>Plant Name</th>
            <th>Category</th>
            <th>Price</th>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
    </table>
</div>
    


{% endblock %}