

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
 }
 body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: green;
 }
 .container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: rgb(163, 160, 160);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(85, 84, 84, 0.1);
 }
 .head{
    padding: 20px 40px;
}
.head h2{
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.form{
    padding: 30px 40px;
    
}
.form_control{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.form_control label{
    display: inline-flex;
    margin-bottom: 5px;
    font-size: 20px;
}
.form_control input{
    height: 20px;
    margin-bottom: 5px;
    border: 2px solid rgb(75, 74, 75);
    background: rgb(190, 188, 188);
    border-radius: 4px;
    float: right;
}
.form_control input:focus{
    outline: none;
    border-color: #777;
}
.form button{
    background: #06640f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    cursor: pointer;
    border-radius: 20%;
}
._formcontrol{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
._formcontrol label{
    display: inline-block;
    margin-bottom: 5px;
}
._formcontrol input{
    height: 20px;
    margin-bottom: 5px;
    border: 2px solid rgb(75, 74, 75);
    background: rgb(190, 188, 188);
    border-radius: 4px;
    float: right;
}
.form button{
    background: #06640f;
    border: none;
    color: white; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    cursor: pointer;
    border-radius: 20%;
}
.form button a{
    color: white;
}
.signup{
    padding-top: 0px;
    font-size: 17px;
    text-align: center;
}




































